<ons-page>
  <div class="center">
    <ons-navigator-toolbar title="Project">
    </ons-navigator-toolbar>
    <ons-button ng-click="ons.slidingMenu.setAbovePage('navigatorMaterials.html')">
      Materials
    </ons-button>
    <ons-button ng-click="ons.slidingMenu.setAbovePage('navigatorTags.html')">
      Tags
    </ons-button>
    <h1>
      Actual project
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <dl class="dl-horizontal">
            <dt>
              Project name
            </dt>
            <dd>
              {{$root.PROJECT.actual.name}}
            </dd>
            <dt>
              Description
            </dt>
            <dd>
              {{$root.PROJECT.actual.description}}
            </dd>
            <dt>
              owner
            </dt>
            <dd>
              <span ng-show="$root.PROJECT.actual.owner === $root.LOGIN.me.id">me</span>
              <span ng-show="$root.PROJECT.actual.owner !== $root.LOGIN.me.id">{{$root.PROJECT.actual.ownerData}}</span>
            </dd>
            <dt ng-show="$root.PROJECT.actual.owner === $root.LOGIN.me.id || $root.PROJECT.actual.amIAdmin">
              access code
            </dt>
            <dd ng-show="$root.PROJECT.actual.owner === $root.LOGIN.me.id || $root.PROJECT.actual.amIAdmin">
              {{$root.PROJECT.actual.accessCode}}
            </dd>
            <dt ng-show="$root.PROJECT.actual.owner === $root.LOGIN.me.id || $root.PROJECT.actual.amIAdmin">
              members
            </dt>
            <dd ng-show="$root.PROJECT.actual.owner === $root.LOGIN.me.id || $root.PROJECT.actual.amIAdmin">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Username
                    </th>
                    <th>
                      Role
                    </th>
                  </tr>
                </tbody>
                <body>
                  <tr ng-repeat="member in $root.PROJECT.actual.members">
                    <td>
                      {{$index + 1}}
                    </td>
                    <td>
                      {{member.username}}
                    </td>
                    <td>
                      <span ng-show="member.role !== 'owner' && member.id !== $root.PROJECT.actual.owner">
                        {{member.role}}
                      </span>
                      <span ng-show="member.role === 'owner' || member.id === $root.PROJECT.actual.owner">
                        owner
                      </span>
                    </td>
                  </tr>
                </body>
              </table>
            </dd>
          </dl>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ons-page>
